@import 'tailwindcss';

@font-face {
  font-family: "Just Another Hand";
  src: url("./assets/fonts/JustAnotherHand-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-just-another-hand {
  font-family: "Just Another Hand", cursive;
}
